.box {
    border-radius: 8px;
    padding: 10px;
    overflow: auto;
  }

.grid-container {
    display: grid;
    position: relative;
    margin: auto;
    max-width: 1000px;
    grid-template-areas:
        "header header header"
        "nav bio todo"
        "nav bio todo"
        "nav timer changelog"
        "blinkee mystery credits"
        "footer footer footer";
    grid-template-columns: 20% 50% 30%;
    grid-template-rows: 50px 200px 80px 190px 100px 80px;
    gap: 20px;
    padding: 20px 75px 20px 20px;
}

.header { 
    grid-area: header;
    background-color: lightseagreen;
}

#bio { 
    grid-area: bio;
    background-color: lightblue;
}

nav { 
    grid-area: nav;
    background-color: lightcoral;
}

nav a {
    display: block;
    text-decoration: none;
    margin-left: 1em;
}

#todo {
    grid-area: todo;
    background-color: lightgreen;
}

#timer { 
    grid-area: timer; 
    background-color: lightpink;
    width: 100%;
}

#changelog { 
    grid-area: changelog;
    background-color: lightgray;
    margin-left: 20px;
    margin-right: 20px;
}

#mystery {
    grid-area: mystery;
    background-color: lightgray;
    margin-left: 100px;
}

#blinkee { 
    grid-area: blinkee;
    background-color: lightsalmon;
    margin-right: -100px;
}

#credits {
    grid-area: credits; 
    background-color: lightcyan; 

}

#footer { 
    grid-area: footer; 
    background-color: lightsteelblue; 
}