.box {
    border-radius: 8px;
    padding: 10px;
    overflow: auto;
  }

.grid-container {
    display: grid;
    position: relative;
    margin: auto;
    max-width: 1100px;
    grid-template-areas:
        "header header header"
        "todo bio nav"
        "todo bio nav"
        "todo timer changelog"
        "blinkee-1 blinkee-1 credits"
        "blinkee-2 blinkee-2 credits"
        "blinkee-3 blinkee-3 credits"
        "footer footer footer";
    grid-template-columns: 20% 50% 30%;
    grid-template-rows: 50px 200px 80px 190px 30px 30px 30px 80px;
    gap: 20px;
    padding: 20px 75px 20px 20px;
}
.header { grid-area: header; background-color: lightseagreen; }
#bio { grid-area: bio; background-color: lightblue; }
#nav { grid-area: nav; background-color: lightcoral; }
#todo { grid-area: todo; background-color: lightgreen; }
#timer { 
    grid-area: timer; 
    background-color: lightpink;
    width: 100%;
}
#changelog { 
    grid-area: changelog;
    background-color: lightgray;
    margin-left: 20px;
    margin-right: 20px;
}

#blinkee-1 { grid-area: blinkee-1; background-color: lightsalmon; margin-right: 40px;}
#blinkee-2 { grid-area: blinkee-2; gap: 10px; background-color: lightsalmon; margin-right: 40px;}
#blinkee-3 { grid-area: blinkee-3; background-color: lightsalmon; margin-right: 40px;}
#credits {
    grid-area: credits; 
    background-color: lightcyan; 
    margin-left: -40px;
}
#footer { grid-area: footer; background-color: lightsteelblue; }